.header {
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.container_header {
  padding: 2rem 4rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_logo {
  width: 6rem;
}

.btn_menu {
  border: none;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  z-index: 1100;
}
.btn_menu ion-icon {
  font-size: 4rem;
  color: #1c362f;
}

.underline-box {
  display: flex;
  height: 100%;
  gap: 2px;
  /* background-color: #54266c; */
}

.underline {
  width: 1.3rem;
  position: absolute;
  bottom: -10%;
  left: 100%;
  border-top: 3px solid #05674a;
  opacity: 0;
}

.move-to-animation {
  animation: move-to-front 0.5s forwards;
}

.move-back-animation {
  animation: move-to-front 0.5s reverse;
}

.main-nav-link:hover .underline,
.main-nav-link:active .underline {
  opacity: 1;
}

.sticky {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(233, 240, 228, 0.94);
  height: 6rem;
}

.sticky .header-logo {
  width: 4rem;
}

.sticky .main-nav-link:link,
.sticky .main-nav-link:visited {
  font-size: 2rem;
}

.sticky .container-header {
  padding: 3rem 4rem;
  height: 4rem;
}
.noScroll {
  overflow: hidden;
}

:global(.sticky) .container_header {
  height: 5rem;
}
:global(.sticky) .header_logo {
  width: 4rem;
}
