.others__container {
  height: 100vh;
}
.others__title {
  font-size: 3.6rem;
  font-weight: 500;
}
.genre {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff8f5;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.genre_css {
}
.genre_js {
}

.btn_genre_css,
.btn_genre_js {
  border: none;
  box-shadow: none;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  display: block;
  z-index: 99;
}

.switch {
  /* width: 5.2rem; */
  width: 36%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(95, 180, 156, 0.5);
  transition: all 0.35s;
  cursor: pointer;
}

.genre_js .switch_animation {
  animation: switch-to-js 0.25s forwards ease;
}
.genre_css .switch_animation {
  animation: switch-to-css 0.25s reverse ease;
}

@keyframes switch-to-js {
  100% {
    transform: translateX(55%);
    width: 65%;
  }
}
@keyframes switch-to-css {
  100% {
    transform: translateX(55%);
    width: 65%;
  }
}

/* Below width 1200px   */
@media (max-width: 75em) {
  .others__container:global(.js) {
    height: 100%;
  }
}

/* width below 900px */
@media (max-width: 56.25em) {
  .others__container {
    height: 100%;
  }
}
