.work_item_box {
  aspect-ratio: 2/1.1;
  transition: all 0.25s;
  height: 100%;
  position: relative;
}

.work_item {
  height: 100%;
  transition: all 0.25s;
  background-color: #fff;
  position: relative;
  color: #1c362f;
  cursor: unset;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_item_img {
  background-color: #fff;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}

.work_item_filter {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.25s;
  opacity: 0;
  display: grid;
  grid-template-rows: 70fr 30fr;
  row-gap: 10%;
}

/* ion-icon {
  font-size: 4rem;
  color: #5fb49c;
  transition: all 0.3s;
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~ Work Content (JS) ~~~~~ */

.work_text_box {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  text-align: center;
  transition: all 0.25s;
  opacity: 1;
  z-index: 1;
  padding: 1.2rem 1.8rem 0 1.8rem;
  display: block;
  position: static;
  left: 0;
  top: 0;
  transform: none;
  background-color: transparent;
  box-shadow: none;
  color: #1c362f;
}

.work_item_js :global(.heading-subtitle) {
  display: inline-block;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.work_text {
  text-align: start;
  font-size: 1.4rem;
  font-weight: 500;
}
.link_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  width: 50%;
  margin: 0 auto 1rem auto;
  justify-items: end;
}
.link_box .work_link:nth-child(2) {
  justify-self: start;
}

.work_link:link,
.work_link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: fit-content;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.831);
  transition: all 0.3s;
  border: 0.1px dashed #1c362f;
}

.link_box ion-icon {
  color: #1c362f;
  width: 80%;
  height: 80%;
  transition: all 0.3s;
}

/* ~~~~~~ Icon Hover Effect ~~~~~ */
.work_link:hover,
.work_link:active {
  border: 3px dashed #1c362f;
}

.work_item_js .work_link:hover,
.work_item_js .work_link:active {
  background-color: #1c362f;
}

.work_item_js .work_link:hover ion-icon,
.work_item_js .work_link:active ion-icon {
  color: #fff;
}

/* ~~~~~~ Card Hover Effect ~~~~~ */
.work_item:hover .work_item_filter {
  background-color: rgba(255, 255, 255, 0.94);
}

.work_item_js:hover .work_item_filter {
  opacity: 1;
  background-color: #9fd2c4;
}

.work_item:hover {
  box-shadow: 0 10px 20px 10px rgba(209, 228, 222, 0.9);
}
.work_item_js:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.work_item_js:hover .work_item_img {
  transform: scale(1.5);
}

.work_item:hover .work_item_img {
  filter: blur(0.5px);
}

@media (max-width: 75em) {
  .work_item_box {
    aspect-ratio: 2/1.2;
  }
}

/* width below 656px */
@media (max-width: 41em) {
  .work_item_box {
    aspect-ratio: unset;
  }
  .work_text {
    font-size: 2.4rem;
  }
  .work_item_js :global(.heading-subtitle) {
    font-size: 2rem;
  }
}
/* width below 544px */
@media (max-width: 34em) {
  .work_item_box {
    aspect-ratio: 2/1.3;
  }
  .work_text {
    font-size: 2rem;
  }
  .work_item_js :global(.heading-subtitle) {
    font-size: 2.4rem;
  }
}
/* width below 464px */
@media (max-width: 29em) {
  .work_text {
    font-size: 1.4rem;
  }
  .work_item_js :global(.heading-subtitle) {
    font-size: 2rem;
  }
}
